body{
    font-family: Raleway;
   
}
@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

h1{
    font-weight: bolder;
}
    
h2{
    font-weight: bolder;
}

Logo{
    width: 2em;
    height: 1em;
}
nav{
    text-align: end;
}

Logonav{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.Links{
    color: black;
    font-style: normal;
}
.Links a:hover { 
    padding: 30px;
    border-top-style: solid;
    border-top-color: blue;
}   
.btn_lowcost{
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    font-size: medium;
}
.btn_family{
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    font-size: medium;
}
.btn_romantic{
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    font-size: medium;
}
.btn_pets{
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    font-size: medium;
}
.btn_lowcost:hover{
    background-color: blue;
    color: white;
}
.btn_family:hover{
    background-color: blue;
    color: white;
}
.btn_romantic:hover{
    background-color: blue;
    color: white;
}
.btn_pets:hover{
    background-color: blue;
    color: white;
}

#Filters{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
}

.
Section{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#Accommodation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: black;
    background-color: #F2F2F2;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 0.5em;
    margin: 20px;
    width: 2fr;
}

.Accbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 0.5em;
  }

.Popbox{
    background-color: white;
    border-radius: 10px;
    padding: 0.5em;
  }

#Popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    background-color: #F2F2F2;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 0.5em;
    margin: 20px;
    width: 1fr;
}


img{
    width: 200px;
    height: 150px;
}


footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}